<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>投递</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/css/mui.min.css">
    <link rel="stylesheet" href="../../static/css/public.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/fonts/iconfont.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/deliver.css">
    <style type="text/css">
        .mui-scroll-wrapper{
            margin-top: 83px;
        }
        .td_all .jobs .jobUl{
            padding-top:10px;
        }
        .mui-table-view .mui-table-view-cell .mui-media-body p{
            line-height: .6rem;
        }
        /**<% list.jobs_id %>*/
        .mui-table-view .mui-table-view-cell .mui-media-body h2{
            margin-bottom:.2rem;
        }
        .mid_bar{
            position:fixed;
            z-index: 10000;
            background:#fff;
        }

        .header{
            z-index: 9990;
            position: fixed;
            top: 45px;
            left: 0;
            width: 100%;
            line-height: 16px;
            text-align: center;
            background-color: white;
        }
        .nodeliver{
            background:url(../../static/images/all_tips.png) no-repeat;
            background-size: cover;
            height:100px;
            width:80px;
            margin:0 auto;
        }
        .tips{
            width:200px;
            height:200px;
            position:absolute;
            top:50%;
            left:50%;
            margin-top:-100px;
            margin-left:-100px;
            padding-top:25px;
            z-index: 101;
        }
        .tips div{
            text-align: center;
        }
        .tips p{
            margin-top:5px;
            color:#D3D3D3;
        }
        .mui-scroll{
            /*min-height:100%;*/
        }
    </style>
</head>

<body style="background: #f6f6f6;position:relative">
<header class="titleBar">
    <a class="barLeft iconfont" onclick="back()">&#xe604;</a>
    <p class="barTxt">我的投递</p>
</header>
<div class="header">
    <!--菜单-->
    <div class="mid_bar">
        <ul style="display:flex">
            <li class="total4" ><span class="active">全部</span></li>
            <li class="total4" ><span>被查看</span></li>
            <li class="total4" ><span>面试</span></li>
            <li class="total4" ><span>不合适</span></li>
        </ul>
    </div>
</div>
<div class="tips" style="display:none">
    <div>
        <div class="nodeliver"></div>
        <p>暂无投递</p>
        <p>快去寻找心仪的职位吧</p>
    </div>
</div>

<div id="pullrefresh" class="mui-scroll-wrapper mui-content">

    <div id="pullrefresh0" class="mui-scroll" v-if="allList!==null">
        <ul id="dataList0" class="mui-table-view" v-show="show==true">
            <li class="mui-table-view-cell mui-media"  v-for="item in allList">
                <span class="chat_time" v-text="item.addtime"></span>
                <a data-href="../wiki/artical.html">
                    <img class="mui-media-object mui-pull-left" :src="item.company.logo">
                    <div class="mui-media-body">
                        <h2 v-text="item.job.jobs_name"></h2>
                        <p>
                            <span style="color:#5A5A5A" v-text="item.job.district_cn"></span>
                            <span style="color:#5A5A5A" v-text="item.company.companyname"></span>
                        </p>
                        <p class='mui-ellipsis'>
                            <span style="color:#5A5A5A" v-text="item.job.salary_cn"></span>
                        </p>
                    </div>
                </a>
                <i :data-face="item.is_face"></i>
            </li>
        </ul>
    </div>


    <div id="pullrefresh1" class="mui-scroll" v-if="lookList!==null">

        <ul id="dataList1" class="mui-table-view" v-show="show==true">
            <li class="mui-table-view-cell mui-media"  v-for="item in lookList">
                <span class="chat_time" v-text="item.addtime"></span>
                <a data-href="../wiki/artical.html">
                    <img class="mui-media-object mui-pull-left" :src="item.company.logo">
                    <div class="mui-media-body">
                        <h2 v-text="item.job.jobs_name"></h2>
                        <p>
                            <span style="color:#5A5A5A" v-text="item.job.district_cn"></span>
                            <span style="color:#5A5A5A" v-text="item.company.companyname"></span>
                        </p>
                        <p class='mui-ellipsis'>
                            <span style="color:#5A5A5A" v-text="item.job.salary_cn"></span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>


    <div id="pullrefresh2" class="mui-scroll" v-if="interview!==null">

        <ul id="dataList2" class="mui-table-view" v-show="show==true">
            <li class="mui-table-view-cell mui-media"  v-for="item in interview">
                <span class="chat_time" v-text="item.addtime"></span>
                <a data-href="../wiki/artical.html">
                    <img class="mui-media-object mui-pull-left" :src="item.company.logo">
                    <div class="mui-media-body">
                        <h2 v-text="item.job.jobs_name"></h2>
                        <p>
                            <span style="color:#5A5A5A" v-text="item.job.district_cn"></span>
                            <span style="color:#5A5A5A" v-text="item.company.companyname"></span>
                        </p>
                        <p class='mui-ellipsis'>
                            <span style="color:#5A5A5A" v-text="item.job.salary_cn"></span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>

    </div>

    <div id="pullrefresh3" class="mui-scroll" v-if="nochoseList!==null">
        <ul id="dataList3" class="mui-table-view" v-show="show==true">
            <li class="mui-table-view-cell mui-media"  v-for="item in nochoseList">
                <span class="chat_time" v-text="item.addtime"></span>
                <a data-href="../wiki/artical.html">
                    <img class="mui-media-object mui-pull-left" :src="item.company.logo">
                    <div class="mui-media-body">
                        <h2 v-text="item.job.jobs_name"></h2>
                        <p>
                            <span style="color:#5A5A5A" v-text="item.job.district_cn"></span>
                            <span style="color:#5A5A5A" v-text="item.company.companyname"></span>
                        </p>
                        <p class='mui-ellipsis'>
                            <span style="color:#5A5A5A" v-text="item.job.salary_cn"></span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="../../static/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/mui.min.js"></script>
<script src="../../static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/fastclick.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/api.js"></script>
<script src="../../static/js/vue.min.js"></script>
<script>
    var url= host + 'c=personalJobsend&a=getRecicveList';
    var params = '';
    var page=1;
    var Flag=false;
    //mui 初始化下拉加载
    mui.init({
        pullRefresh: {
                container: '#pullrefresh',
                up: {
                    contentrefresh: '正在加载...',
                    callback: pullupRefresh
                }
            }
    });
    mui('.mui-scroll-wrapper').scroll({
        scrollY: true, //是否竖向滚动
        scrollX: false, //是否横向滚动
        startX: 0, //初始化时滚动至x
        startY: 0, //初始化时滚动至y
        indicators: false, //是否显示滚动条
        deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
        bounce: true //是否启用回弹
    });

    //VUE实例 渲染页面
    var allListVue=new Vue({
        el:'#pullrefresh0',
        data:{
            allList:null,
            show:false
        }
    });
    var lookListVue=new Vue({
        el:'#pullrefresh1',
        data:{
            lookList:null,
            show:false
        }
    });
    var interviewVue=new Vue({
        el:'#pullrefresh2',
        data:{
            interview:null,
            show:false
        }
    });
    var nochoseListVue=new Vue({
        el:'#pullrefresh3',
        data:{
            nochoseList:null,
            show:false
        }
    })

    //全部 ajax
    function all(){
        params={page:1,pagesize:10};
        ajaxRun(url,params,true,'get',function(data){
            console.log(data);
            if(data.statuscode==1){
               allListVue._data.allList=data.result;
                allListVue._data.show=true;
                setTimeout(function(){
                    $('#pullrefresh0 i').each(function(){
                        var view=$(this).attr('data-face');
                        if(view==1){
                            $(this).html('可面试');
                        }else if(view==2){
                            $(this).html('不合适');
                        }else if(view==3){
                            $(this).html('已查看');
                        }else{
                            $(this).html('已投递');
                        }
                    });
                },50);
            }else{
                $('.tips').show();
            }
        })
    }

    //面试 ajax
    function  interview(){
        params={is_face:1,page:1,pagesize:10};
        ajaxRun(url,params,true,'get',function(data){
            console.log(data)
            if(data.statuscode==1){
               interviewVue._data.interview=data.result;
               interviewVue._data.show=true;
            }else{
                mui.toast(data.msg)
            }
        })
    }
    //不合适 ajajx
    function nochose(){
        params={is_face:0,page:1,pagesize:5};
        ajaxRun(url,params,true,'get',function(data){
            console.log(data);
            if(data.statuscode==1){
               nochoseListVue._data.nochoseList=data.result;
               nochoseListVue._data.show=true;
            }else{
               mui.toast(data.msg)
            }
        })
    }
    //已查看 ajax
	function looked(){
        params={is_face:3,page:1,pagesize:10};
        ajaxRun(url,params,true,'get',function(data){
            console.log(data);
            if(data.statuscode==1){
                lookListVue._data.lookList=data.result;
                lookListVue._data.show=true;
            }else{
                mui.toast(data.msg);
            }
        })
    }

    //返回上一页
	function back(){
        location.href='../personalCenter/personalCenter.html';
	}

    //下拉加载函数
    function pullupRefresh(){
        setTimeout(function () {
            mui('#pullrefresh').pullRefresh().endPullupToRefresh((Flag)); //参数为true代表没有更多数据了。
            loadMore();
        }, 1500);
    }

    function loadMore(){
        console.log(page);
        argument1 = {page:page,pagesize:5};
        argument1 = {page:page,pagesize:5,is_face:1};//面试
        argument1 = {page:page,pagesize:5,is_face:0};//不合适
        argument1 = {page:page,pagesize:5,is_face:2};// 被查看

        //判断谁显示，谁显示，谁下拉加载  即ajax不同的参数
        var block0=$('#pullrefresh0').css('display');
        var block1=$('#pullrefresh1').css('display');
        var block2=$('#pullrefresh2').css('display');
        var block3=$('#pullrefresh3').css('display');

        console.log(block0,block1,block2,block3);
//        ajaxRun(indexUrl, argument, true, 'GET', function (data) {
//            console.log(data);
//            if(data.statuscode==1){
//                if(data.result.length<5 || data.result==[] || data.result==null){
//                    Flag=true;
//                }
//                jobListVue._data.jobList=jobListVue._data.jobList.concat(data.result);
//            }else{
//                mui.toast(data.msg,{ duration:1000});
//            }
//            page++;
//        });
    };


    //查看投递详情跳转
//    mui('.mui-scroll-wrapper').on('tap','a',function(){
//        url=$(this).attr('data-href');
//        if(url==""||url==null||url==undefined){
//            return
//        }
//        var deliverId=$(this).attr('data-id');
//        console.log(deliverId);
//        location.href=url+'?deliverId='+deliverId;
//    });

    //初始index:0显示 其他隐藏
    $('.mui-scroll').hide();
	$('#pullrefresh0').show();
    all();
    //导航栏目切换
    $('.mid_bar').on('tap','span',function(){
        //添加、移除active样式
        $(this).parent().siblings().children('span').removeClass('active');
        $(this).addClass('active');

        //获取index
        var index=$('.mid_bar span').index($(this));

        //控制匹配的div显示隐藏
        $('.mui-scroll').hide();
        var id='#pullrefresh'+index;
        $(id).show();
        if(index==0){
            all();
        }else if(index==1){

            looked();
        }else if(index==2){
            interview();
        }else{
            nochose();
        }
    })

</script>
</body>

</html>