<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>投递</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/css/mui.min.css">
    <link rel="stylesheet" href="../../static/css/public.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/fonts/iconfont.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/deliver.css">
    <style type="text/css">
        .mui-table-view .mui-table-view-cell .mui-media-body p{
            line-height: .6rem;
        }
        /**<% list.jobs_id %>*/
        .mui-table-view .mui-table-view-cell .mui-media-body h2{
            margin-bottom:.2rem;
        }
        .mid_bar{
            position:fixed;
            z-index: 10000;
            background:#fff;
        }

        .header{
            z-index: 9990;
            position: fixed;
            top: 45px;
            left: 0;
            width: 100%;
            line-height: 16px;
            text-align: center;
            background-color: white;
        }
        .nodeliver{
            background:url(../../static/images/all_tips.png) no-repeat;
            background-size: cover;
            height:100px;
            width:80px;
            margin:0 auto;
        }
        .tips{
            width:200px;
            height:200px;
            position:absolute;
            top:50%;
            left:50%;
            margin-top:-100px;
            margin-left:-100px;
            padding-top:25px;
            z-index: 101;
        }
        .tips div{
            text-align: center;
        }
        .tips p{
            margin-top:5px;
            color:#D3D3D3;
        }
        #pullrefresh{
            padding-top:85px;
        }
        .no_tips{
            width:100px;
            height:50px;
            text-align: center;
            position:absolute;
            bottom:30px;
            left:50%;
            margin-left:-25px;
            line-height: 50px;
            background:#000;
            opacity:.8;
            z-index: 1001;
            color:#fff;
            border-radius:15px;
        }
        /*    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    float: left;
    margin-right: 3%;
    margin-top: 10px;
}*/
        #pullrefresh .mui-table-view img{
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            float: left;
            margin-right: 3%;
            margin-top: 10px;
        }
    </style>
</head>

<body style="background: #f6f6f6;position:relative;">
<header class="titleBar">
    <a class="barLeft iconfont" onclick="back()">&#xe604;</a>
    <p class="barTxt">我的投递</p>
</header>
<div class="header">
    <!--菜单-->
    <div class="mid_bar">
        <ul style="display:flex">
            <li class="total4" ><span class="active">全部</span></li>
            <li class="total4" ><span>被查看</span></li>
            <li class="total4" ><span>面试</span></li>
            <li class="total4" ><span>不合适</span></li>
        </ul>
    </div>
</div>
<div class="tips" style="display:none">
    <div>
        <div class="nodeliver"></div>
        <p>暂无投递</p>
        <p>快去寻找心仪的职位吧</p>
    </div>
</div>

<div id="pullrefresh" style="width: 100%; height: 100%; float: left; overflow: hidden">

    <div id="pullrefresh0" style="height:100%">
        <ul id="dataList0" class="mui-table-view" style="height:100%;overflow:auto;" v-show="show==true">
            <li class="mui-table-view-cell mui-media"  v-for="item in allList" >
                <span class="chat_time" v-text="item.addtime"></span>
                <a @click="toDetail(item.id)">
                    <img class="mui-media-object mui-pull-left" :src="item.company.logo">
                    <div class="mui-media-body">
                        <h2 v-text="item.job.jobs_name"></h2>
                        <p>
                            <span style="color:#5A5A5A" v-text="item.job.district_cn"></span>
                            <span style="color:#5A5A5A" v-text="item.company.companyname"></span>
                        </p>
                        <p class='mui-ellipsis'>
                            <span style="color:#5A5A5A" v-text="item.job.salary_cn"></span>
                        </p>
                    </div>
                </a>
                <i :data-face="item.is_face"></i>
            </li>
        </ul>

        <ul id="dataList1" class="mui-table-view" style="height:100%;overflow:auto;" v-show="show==true">
            <li class="mui-table-view-cell mui-media"  v-for="item in lookList" >
                <span class="chat_time" v-text="item.addtime"></span>
                <a @click="toDetail(item.id)">
                    <img class="mui-media-object mui-pull-left" :src="item.company.logo">
                    <div class="mui-media-body">
                        <h2 v-text="item.job.jobs_name"></h2>
                        <p>
                            <span style="color:#5A5A5A" v-text="item.job.district_cn"></span>
                            <span style="color:#5A5A5A" v-text="item.company.companyname"></span>
                        </p>
                        <p class='mui-ellipsis'>
                            <span style="color:#5A5A5A" v-text="item.job.salary_cn"></span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>

        <ul id="dataList2" class="mui-table-view" style="height:100%;overflow:auto;" v-show="show==true">
            <li class="mui-table-view-cell mui-media"  v-for="item in interview">
                <span class="chat_time" v-text="item.addtime"></span>
                <a @click="toDetail(item.id)">
                    <img class="mui-media-object mui-pull-left" :src="item.company.logo">
                    <div class="mui-media-body">
                        <h2 v-text="item.job.jobs_name"></h2>
                        <p>
                            <span style="color:#5A5A5A" v-text="item.job.district_cn"></span>
                            <span style="color:#5A5A5A" v-text="item.company.companyname"></span>
                        </p>
                        <p class='mui-ellipsis'>
                            <span style="color:#5A5A5A" v-text="item.job.salary_cn"></span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>

        <ul id="dataList3" class="mui-table-view"  style="height:100%;overflow:auto;" v-show="show==true">
            <li class="mui-table-view-cell mui-media"  v-for="item in nochoseList">
                <span class="chat_time" v-text="item.addtime"></span>
                <a @click="toDetail(item.id)">
                    <img class="mui-media-object mui-pull-left" :src="item.company.logo">
                    <div class="mui-media-body">
                        <h2 v-text="item.job.jobs_name"></h2>
                        <p>
                            <span style="color:#5A5A5A" v-text="item.job.district_cn"></span>
                            <span style="color:#5A5A5A" v-text="item.company.companyname"></span>
                        </p>
                        <p class='mui-ellipsis'>
                            <span style="color:#5A5A5A" v-text="item.job.salary_cn"></span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>

<div class="no_tips">
    <span>无更多数据</span>
</div>

<script src="../../static/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/mui.min.js"></script>
<script src="../../static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/fastclick.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/api.js"></script>
<script src="../../static/js/vue.min.js"></script>
<script>
    var url= host + 'c=personalJobsend&a=getRecicveList';
    var params = '';

    var page=[1,1,1,1];
    var pagesize=10;
    var pageflag=[true,true,true];

    //VUE实例 渲染页面

    var allListVue=new Vue({
        el:'#dataList0',
        data:{
            allList:[],
            show:true
        },
        methods:{
            loadAll:function(){
                var that=this;
                params={page:page[0],pagesize:pagesize};
                ajaxRun(url,params,true,'get',function(data){
                    console.log(data);
                    if(data.statuscode==1){
                        that.allList=that.allList.concat(data.result);
                        setTimeout(function(){
                            $('#dataList0 i').each(function(){
                                var view=$(this).attr('data-face');
                                if(view==1){
                                    $(this).html('可面试');
                                }else if(view==0){
                                    $(this).html('不合适');
                                }else if(view==3){
                                    $(this).html('已查看');
                                }else{
                                    $(this).html('已投递');
                                }
                            });
                        },50);
                        if(data.result.length<pagesize){
                            $('.no_tips').show().delay(500).fadeOut();
                            return;
                        }
                        page[0]++;
                        pageflag[0] = true;
                    }else{
                        if(page[0]==1){
                            $('.tips').show();
                        }
                        $('.no_tips').show().delay(500).fadeOut();
                    }
                })
            }
        }
    });
    allListVue.loadAll();
    bindScroll($('#dataList0'),0);

    var lookListVue=new Vue({
        el:'#dataList1',
        data:{
            lookList:[],
            show:false
        },
        methods:{
            loadLook:function(){
                var that=this;
                params={is_face:3,page:page[1],pagesize:pagesize};
                ajaxRun(url,params,true,'get',function(data){
                    console.log(data);
                    if(data.statuscode==1){
                        that.lookList=that.lookList.concat(data.result);
                        if(data.result.length<pagesize){
                            if($('#dataList1').css('display')=="block"){
                                $('.no_tips').show().delay(500).fadeOut();
                            }
                            return;
                        }
                        page[1]++;
                        pageflag[1]=true;
                    }else{
                        $('.no_tips').show().delay(500).fadeOut();
                    }
                })
            }
        }
    });
    lookListVue.loadLook();
    bindScroll($('#dataList1'),1);

    var interviewVue=new Vue({
        el:'#dataList2',
        data:{
            interview:[],
            show:false
        },
        methods:{
            loadInterView:function(){
                var that=this;
                params={is_face:1,page:page[2],pagesize:pagesize};
                ajaxRun(url,params,true,'get',function(data){
                    console.log(data);
                    if(data.statuscode==1){
                        that.interview=that.interview.concat(data.result);
                        if(data.result.length<pagesize){
                            if($('#dataList2').css('display')=="block"){
                                $('.no_tips').show().delay(500).fadeOut();
                            }
                            return;
                        }
                        page[2]++;
                        pageflag[2] = true;
                    }else{
                        $('.no_tips').show().delay(500).fadeOut();
                    }
                })
            }
        }
    });
    interviewVue.loadInterView();
    bindScroll($('#dataList2'),2);

    var nochoseListVue=new Vue({
        el:'#dataList3',
        data:{
            nochoseList:[],
            show:false
        },
        methods:{
            loadNoChose:function(){
                var that=this;
                params={is_face:0,page:page[3],pagesize:pagesize};
                ajaxRun(url,params,true,'get',function(data){
                    console.log(data);
                    if(data.statuscode==1){
                        that.nochoseList=that.nochoseList.concat(data.result);
                        if(data.result.length<pagesize){
                            if($('#dataList3').css('display')=="block"){
                                $('.no_tips').show().delay(500).fadeOut();
                            }
                            return;
                        }
                        page[3]++;
                        pageflag[3] = true;
                    }else{
                        $('.no_tips').show().delay(500).fadeOut();
                    }
                })
            }
        }
    });
    nochoseListVue.loadNoChose();
    bindScroll($('#dataList3'),3);

    //返回上一页
	function back(){
        location.href='../personalCenter/personalCenter.html';
	}

    //滚动函数
    function bindScroll(ele,num){
        ele.on('scroll', function() {
            var scrollHeight = $(this)[0].scrollHeight;
            var scrollTop = $(this)[0].scrollTop;
            var nDivHight = $(this).height();
            var tipHtml="<span id=\"loadTips\"><a></a></span>";
            if (pageflag[num] == true && scrollTop + nDivHight > scrollHeight - 30) {
                pageflag[num] = false;
                ele.append(tipHtml).show();
                setTimeout(function(){
                    if(num==0){
                        allListVue.loadAll();
                        $('#loadTips').hide();
                    }else if(num==1){
                        lookListVue.loadLook();
                        $('#loadTips').hide();
                    }else if(num==2){
                        interviewVue.loadInterView();
                        $('#loadTips').hide();
                    }else{
                        nochoseListVue.loadNoChose();
                        $('#loadTips').hide();
                    }
                },1000)
            }
        });
    }

    //查看投递详情跳转
    function toDetail(data){
        var href="deliveryRecord.html";
        location.href=href+"?deliverId="+data;
    }

    //初始index:0显示 其他隐藏
    //导航栏目切换
    $('.mid_bar').on('tap','span',function(){
        //添加、移除active样式
        $(this).parent().siblings().children('span').removeClass('active');
        $(this).addClass('active');

        //获取index
        var index=$('.mid_bar span').index($(this));
        if(index==0){
            allListVue._data.show=true;
        }else if(index==1){
            allListVue._data.show=false;
            lookListVue._data.show=true;
        }else if(index==2){
            allListVue._data.show=false;
            interviewVue._data.show=true;
        }else{
            allListVue._data.show=false;
            nochoseListVue._data.show=true;
        }
    })

</script>
</body>

</html>