<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>忘记密码</title>
    <link rel="stylesheet" href="../../static/css/mui.min.css">
    <link rel="stylesheet" href="../../static/css/public.css">
    <link rel="stylesheet" href="../../static/fonts/iconfont.css">
    <link rel="stylesheet" href="../../static/css/registerCss/register.css">
</head>
<body>
	<div id="app">
	    <header class="titleBar">
	        <a class="iconfont" onclick="back()">&#xe604;</a>
	        <p class="barTxt"></p>
	        <p class="barRight">
	            <a class="br"></a>
	        </p>
	    </header>
	    <div class="registerTitle">忘记密码</div>
	    <div class="mui-content-padded" style="margin: 0 20px;">
	        <div class="mui-input-row">
	            <label class="register-icon"><i class="iconfont">&#xe61c;</i></label>
	            <input class="register-text" type="number" v-model="mobile" placeholder="请输入手机号">
	        </div>
	        <div class="mui-input-row">
	            <label class="register-icon"><i class="iconfont">&#xe63e;</i></label>
	            <input class="register-text" type="password" v-model="pwd" placeholder="请输入6~16位新密码">
	        </div>
	        <div class="mui-input-row">
	            <label class="register-icon"><i class="iconfont">&#xe608;</i></label>
	            <div style="float:left;width:calc(80% - 100px);"><input class="register-text" type="number" v-model="code" placeholder="请填写验证码">
	            </div>
	            <input type="button" class="getCode" @click="getCode(mobile)" value="获取验证码" />
	        </div>
	    </div>
	    <div class="register-bottom" @click="sureBtn()">确认</div>
		
	</div>
</body>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/flexible.js"></script>
<script src="../../static/js/mui.min.js"></script>
<script src="../../static/js/public.js"></script>
<script src="../../static/js/api.js"></script>
<script src="../../static/js/vue.min.js"></script>
<script>
	var mobile = '';
	var pwd = '';
	var code = '';
	var url = host + 'c=login&a=forgetPwd';
	var recordvue = new Vue({
		el: '#app',
		data: {
			mobile: mobile,
			pwd: pwd,
			code: code
		},
		methods: {
		  	sureBtn: function() {
				var parmas = {mobile:this.mobile,password:this.pwd,captcha:this.code};
				ajaxRun(url,parmas,true,'GET',function (data) {	
					if(data.statuscode == 1) {
						location.href = 'login.html'
					} else {
						rzState=0;
						console.log(data.msg);	
						mui.toast(data.msg,{ duration:1000}); 
					}
			 	});		
		  		
		  	}
		}
	})	
	
	function back(){
		location.href="login.html";
	}
</script>

</html>