<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>用户登录</title>
    <link rel="stylesheet" href="../../static/css/mui.min.css">
    <link rel="stylesheet" href="../../static/css/public.css">
    <link rel="stylesheet" href="../../static/fonts/iconfont.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/css/registerCss/deliveryRecord.css">
    <link rel="stylesheet" href="../../static/css/registerCss/login.css">
    <style>
    .typechoose{display:none;position: fixed;top: 0;right: 0;left: 0;bottom: 0;background:#f6f7f9;text-align: center;}
    .typechoose img{width: 100%;}
    .gray { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);-ms-filter: grayscale(100%); -o-filter: grayscale(100%);  filter: grayscale(100%);filter: gray;}
    </style>
	</head>
	<body>
				
    <div class="cd-popup" role="alert">
        <div class="modelContent" id="app">
            <div class="modelTop">
                <div class="modelTitle">登录涂才</div>
                <!-- <div class="modelClose"><i class="iconfont">&#xe689;</i> </div> -->
            </div>

            <div class="mui-content-padded" style="margin: 0 20px;">
                <div class="mui-input-row">
                    <label class="register-icon"><i class="iconfont">&#xe61c;</i></label>
                    <input class="register-text" type="number" placeholder="请输入手机号" v-model="telelphone">
                </div>
                <div class="mui-input-row">
                    <label class="register-icon"><i class="iconfont">&#xe63e;</i></label>
                    <input class="register-text" type="password" placeholder="请输入6~16位密码" v-model="pwd">
                </div>
            </div>
            <div class="modelState">
                <a class="registerNow" href="register.html">立即注册</a>
                <a class="forgetPsw" href="forgetPassword.html">忘记密码</a>
            </div>
            <div class="loginButton">
                <div class="blueButton" @click="login(telelphone,pwd)">登录</div>
            </div>
            <div class="modelTip">绑定后意味着同意涂才的<span>《用户协议》</span></div>
            <div class="loginWays">
                <hr>
                <span> 你还可以通过以下方式登录</span>
                <hr>
            </div>
            <div class="chooseWays">
                <div id="login_wechat" style="margin-left:1.8rem;"><img src="../../static/images/wechat.jpg" /></div>
                <div id="login_qq"><img src="../../static/images/qq.jpg" /></div>
            </div>
        </div>
    </div>
    <div class="typechoose">
        <div id="p-btn" >
            <img src="../../static/images/personal.jpg" alt="" />
            <span class="btn">我是个人</span>
            <br><br>
        </div>
        <img class="orImg" src="../../static/images/or.jpg" alt="" />
        <div id="c-btn" >				
            <img src="../../static/images/com.jpg" alt="" />
            <span class="btn">我是企业</span>
        </div>			
    </div>
	</body>
	<script src="../../static/js/jquery.js"></script>
	<script src="../../static/js/flexible.js"></script>
	<script src="../../static/js/mui.min.js"></script>
    <script src="../../static/js/public.js"></script>
    <script src="../../static/js/webapp.js"></script>
	<script src="../../static/js/api.js"></script> 
	<script src="../../static/js/vue.min.js"></script>
	<script>
		var telelphone = '';
		var pwd = '';
		var registerVue = new Vue({
			el: '#app',
			data: {
				telelphone: telelphone,
				pwd: pwd
			}
		})
		
		function login(telelphone,pwd) {
			uid(telelphone, pwd);
		}
		
		$(document).ready(function(e){
		    $(".cd-popup").addClass('is-visible');
		});
		$(".modelClose").click(function () {
		    event.preventDefault();
		    $(".cd-popup").removeClass('is-visible');
        });
        //安卓端未好 先注释掉
         $('#login_wechat').on('touchend',function(){login_auth('wechat');});
      $('#login_qq').on('touchend',function(){login_auth('qq');});
    //_webapp.authLogin 第三方登录
        var outh_utype = '';
        
        
        
        function login_auth(authtype) {       	
            _webapp.authLogin(authtype, function (res) {
					var hostUrl = host + 'c=Login&a=checkisregister';
                	var outh_utype = '';
	        		if (authtype == 'wechat') {     
	                    if (typeof res != 'object') {
                            res = $.parseJSON(res);
                        }
                        //以下写返回的微信数据用来ajax登录 
                        var josnStr = JSON.stringify(res.data);
                        var jsonObj = $.parseJSON(res.data);
                        console.log(jsonObj);
                        console.log("wx获取用户信息成功：" + josnStr);
                        var openid = jsonObj.openid;
                        var nickname = jsonObj.nickname;
                        var avatar =  jsonObj.headimgurl;
                        var wxParmas = {type: 'weixin', openid: openid};
                        ajaxRun(hostUrl, wxParmas, true, 'GET', function (data) {
                            console.log(data);
                            if (data.statuscode == 0) {
                                $(".typechoose").css("display","block");
                                // outh_utype = chooseRole();
                            }else{
                                wxUid(openid, nickname, avatar, null);
                            }
                        });
                        $("#p-btn").click(function() {
                            outh_utype = 2;
                            wxUid(openid, nickname, avatar, outh_utype);
                        })
                        $("#c-btn").click(function() {
                            outh_utype = 1;
                            wxUid(openid, nickname, avatar, outh_utype);
                        })
						    
	    			}            	
	        		if (authtype == 'qq') {     
	                    if (typeof res != 'object') {
                            res = $.parseJSON(res);
                        }
                        //以下写返回的微信数据用来ajax登录 
                        var josnStr = JSON.stringify(res);
                        console.log("qq获取用户信息成功：" + josnStr);
                        var qqnum = res.openId;
                        var nickname = res.nickname;
                        var avatar = res.figureurl;
                        var qqParmas = {type: 'qq', qqnum: qqnum};
                        ajaxRun(hostUrl, qqParmas, true, 'GET', function (data) {
                            if (data.statuscode == 0) {
                                $(".typechoose").css("display","block");
		                        $("#p-btn").click(function() {
		                            outh_utype = 2;
		                            qqUid(qqnum, nickname, avatar, outh_utype);
		                        })
		                        $("#c-btn").click(function() {
		                            outh_utype = 1;
		                            qqUid(qqnum, nickname, avatar, outh_utype);
		                        })
                              }else{
                                  qqUid(qqnum, nickname, avatar, null);
                              }
                        });
	    			} 
            });
        }
        
        function chooseRole() {
        	var outh_utype = '';
        	$(".typechoose").css("display","block");
        	$("#p-btn").click(function() {
        		outh_utype = 2;
        	})
        	$("#c-btn").click(function() {
        		outh_utype = 1;
        	})
        	return outh_utype;
        }
	</script>
</html>
