.jobInfo {
	margin: 20px;
	padding: 10px 15px;
	background-color: #fff;
	box-shadow: 0 0 2px #FFFFFF;
}
.jobInfoFirst {
	height: 25px;
	line-height: 25px;
	font-size: .45rem;
}
.jobs {
	float: left;	
	color: #333;
}
.jobSalary {
	float: right;
	color: red;
}
.jobCompany {
	color: #666;
	font-size: .4rem;
}
.jobDetails {
	color: #999;
	font-size: .38rem;
}
.marginSpan {
	margin: 0 5px;
}

.chatBottom {
	position: absolute;
	bottom: 0;
	border-top: solid 1px #ddd;
	height: 50px;
	width: 100%;
	padding: 0 10px;
	display: flex;
    z-index: 1000;
}
.chatMsg {
	width: calc(100% - 80px);
	height: 30px;
	margin: 10px 10px 0 0;
	border: 0;
	font-size: .42rem;
	color: #666666;
    -webkit-user-select: auto !important;
}
.sendMsg {
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #41A6FF;
	color: #FFFFFF;
	margin: auto;
	border-radius: 5px;
}

.chatContents {
	padding: 0 15px;
	/*height: calc(100% - 140px);*/
}
.people {
	clear: both;
}
.head-img {
	width: 1.5rem;
    float: left;
}
.head-img>img {
	border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
}
.name {
    float: left;
    margin-left: 1rem;
    font-size: .42rem;
}
.text {
    clear: both;
    font-size: .42rem;
    padding: .3rem;
    max-width: calc(100% - 3.2rem);
    width: -webkit-fit-content;
    position: relative;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 0.5px 2px 0 rgba(221, 221, 221, 0.81);
    z-index: 1;
    word-wrap: break-word;
}

.text-left {
    top: -1.4rem;
	float: left;
    margin-left: 2rem;
}

.head-imgright {
	width: 1.3rem;
    float: right;
}
.head-imgright>img {
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
}
.line-right {
    float: right;
    padding-left: 1rem;
}
.name-right {
    float: right;
    margin-right: 1rem;
    font-size: .42rem;
}
.text-right {
    top: -1.4rem;
    float: right;
    margin-right: 2rem;
}

.text::after {
	background: #ffffff none repeat scroll 0 0;
    top: 8px;
    content: " ";
    display: block;
    position: absolute;
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
}
.text-left::after {
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    left: -6px;
}
.text-right::after {
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    right: -6px;
}
.msgState {
	color: #ffffff;
    background-color: #88c7ff;
    width: 1rem;
    font-size: .32rem;
    text-align: center;    
    border-radius: 3px;
}

.people-me>.text {
	color: #ffffff;
    background-color: #2ba0ff;
}
.people-me>.text-right::after {
    border-top: 2px solid #2ba0ff;
    border-right: 2px solid #2ba0ff;
    background-color: #2ba0ff;
}
