<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>投递管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="yes" name="apple-touch-fullscreen" />
		<script src="../../static/js/vue.min.js" type="text/javascript" charset="utf-8"></script>	
		<link rel="stylesheet" href="../../static/css/mui.min.css">
		<link rel="stylesheet" href="../../static/css/public.css">
		<link rel="stylesheet" href="../../static/css/iconfont.css">
		<link rel="stylesheet" href="../../static/fonts/iconfont.css">
		<link rel="stylesheet" href="../../static/css/home.css">
		<style type="text/css">

		</style>
	</head>

	<body style="background: #f6f6f6;">
		<header class="titleBar">
			<a class="barLeft iconfont mui-action-back">&#xe604;</a>
			<p class="barTxt">投递管理</p>
			<p class="barRight">
				<a class="br"></a>
			</p>
		</header>
			<div class="tdTab">
				<span class="tdActive">全部简历</span>
				<span>待面试</span>
				<span>面试评价</span>
			</div>			
		<!--<div class="mui-scroll-wrapper" id="refreshContainer">-->
			<!--<div class="mui-scroll muiTop" id="pages">-->
				<!--这里放置真实显示的DOM内容-->
			<div class="muiTop" id="app" style="width: 100%; height: 100%; float: left; overflow: hidden">
				<div class="tdList" style="height: 96%">
					<ul class="tdul scrolls" id="tdul_1" style="height: 100%;overflow: auto">
						<div class="nojob" v-show="listAll==''">
							<i class="iconfont">&#xe6ce;</i>
							<p>暂无简历</p>
						</div>
						<li class="tdLi" v-for="(item, index) in listAll">
							<div class="tdTop">
								<img class="tdImg" :src="[item.member.avarats]"/>
								<p class="td1"><a v-text="item.member.realname"></a><i class="iconfont" :data-sex="[item.member.sex]">{{item.resume.sex==1?'&#xe629;':'&#xe6d7;'}}</i></p>
								<p class="td2">求职期望  <em v-text="item.jobs_name"></em></p>
								<p class="td3"><em v-text="item.resume.district_cn"></em> | <em v-text="item.resume.wage_cn"></em> | <em v-text="item.resume.experience_cn"></em> | <em v-text="item.resume.education_cn"></em></p>
								<time class="nd" v-text="item.addtime"></time>
							</div>
							<div class="tdBot">
								<span>投递职位：<p>{{item.jobs.jobs_name}}</p></span>
								<a @click="goRs(item.resumeid,item.id)">查看简历</a>
							</div>
						</li>
						
					</ul>
					<ul class="tdul scrolls" id="tdul_2" style="height: 100%;overflow: auto">
						<div class="nojob" v-show="listIng==''">
							<i class="iconfont">&#xe6ce;</i>
							<p>暂无面试</p>
						</div>
						<li class="tdLi" v-for="(item, index) in listIng" :key="item.id" >
							<div class="tdTop">
								<img class="tdImg" :src="[item.member.avarats]"/>
								<p class="td1"><a v-text="item.member.realname"></a><i class="iconfont" :data-sex="[item.member.sex]">{{item.resume.sex==1?'&#xe629;':'&#xe6d7;'}}</i></p>
								<p class="td2">求职期望 <em v-text="item.jobs_name"></em></p>
								<p class="td3"><em v-text="item.resume.district_cn"></em> | <em v-text="item.resume.wage_cn"></em> | <em v-text="item.resume.experience_cn"></em> | <em v-text="item.resume.education_cn"></em></p>
								<time v-text="item.addtime"></time>
							</div>
							<div class="tdBot">
								<span><p>面试时间：<em v-text="item.facetime"></em></p></span>
								<a @click="goRs(item.resumeid,item.id)">查看简历</a>
							</div>
						</li>
					</ul>
					<ul class="tdul scrolls" id="tdul_3" style="height: 100%;overflow: auto">
						<div class="nojob" v-show="listOff==''">
							<i class="iconfont">&#xe6ce;</i>
							<p>暂无评价</p>
						</div>
						<li class="tdLi" v-for="(item, index) in listOff">
							<div class="tdTop">
								<img class="tdImg" :src="[item.member.avatar]"/>
								<p class="td1"><a v-text="item.member.realname"></a><i class="iconfont" :data-sex="[item.member.sex]">{{item.member.sex==1?'&#xe629;':'&#xe6d7;'}}</i></p>
								<p class="td2">求职期望  <em v-text="item.jobs_name"></em></p>
								<p class="td3"><em v-text="item.resume.district_cn"></em> | <em v-text="item.resume.wage_cn"></em> | <em v-text="item.resume.experience_cn"></em> | <em v-text="item.resume.education_cn"></em></p>
								<time class="nd" v-text="item.addtime"></time>
							</div>
							<div class="tdSay">
								<span>面试评价：</span>
								<p v-text="item.pingjia"></p>
							</div>
						</li>

						
					</ul>
					
				</div>

			</div>
		<!--</div>-->
		<!--</div>-->
		
		
	</body>
		<script src="../../static/js/flexible.js" type="text/javascript" charset="utf-8"></script>		
		<script src="../../static/js/mui.min.js"></script>
		<script src="../../static/js/update.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/effect.js" type="text/javascript" charset="utf-8"></script>		
		<script src="../../static/js/api.js" type="text/javascript" charset="utf-8"></script>		
		<script src="../../static/js/fastclick.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/config.js" type="text/javascript" charset="utf-8"></script>
		
		<script>
			$(function(){
				FastClick.attach(document.body);
			
			});

			var page=[1,1,1];
			var pagesize=10;
            var pageflag = [true,true,true];
            var app = new Vue({
			  el: '#app',
			  data: {
				listAll:[],
				listIng:[],
				listOff:[]
			  },
			  methods: {
			  	  loadAll:function(){
			  		var that=this;
					var parmas={page:page[0],pagesize:pagesize};
					ajaxRun(port.getRecicveList,parmas,true,'POST',function (data) {
						console.log('全部:',data);
						if(data.statuscode==1){
							that.listAll=that.listAll.concat(data.result);
                            if(data.result.length<pagesize){
                                setTimeout(function () {
                                    $('#tdul_1').off('scroll').append('<p class="nomore">无更多数据</p>');
                                },500)
                                return;
                            }
                            page[0]++;
						}else{

						}

					});
			  	  },
                  loadIng:function(){
                      var that=this;
                      var parmas={is_face:1,page:page[1],pagesize:pagesize};
                      ajaxRun(port.getRecicveList,parmas,true,'POST',function (data) {
                          console.log('待面试:',data);
                          if(data.statuscode==1){
                              that.listIng=that.listIng.concat(data.result);
                              if(data.result.length<pagesize){
                                  setTimeout(function () {
                                      $('#tdul_2').off('scroll').append('<p class="nomore">无更多数据</p>');
                                  },500)
                                  return;
                              }
                              page[1]++;
                          }else{

                          }

                      });
                  },
                  loadOff:function(){
                      var that=this;
                      var parmas={is_face:0,page:page[2],pagesize:pagesize};
                      ajaxRun(port.getRecicveList,parmas,true,'POST',function (data) {
                          console.log('评价:',data);
                          if(data.statuscode==1){
                              that.listOff=that.listOff.concat(data.result);
                              if(data.result.length<pagesize){
                                  setTimeout(function () {
                                      $('#tdul_3').off('scroll').append('<p class="nomore">无更多数据</p>');
                                  },500)
                                  return;
							  }
                              page[2]++;
                          }else{

                          }

                      });
                  },
			  	goRs:function(id,tid){
//			        mui.openWindow({
//			            url:'resumes.html?id='+id,
//			        })
					location.href='resumes.html?id='+id+'&tid='+tid
			  	},	
	 			bindEle:function(){
	 				var that=this;
					$.each($('.tdTab span'),function(index){
						$('.tdTab span').eq(index).click(function(){
							//mui('.mui-scroll-wrapper').scroll().scrollTo(0,0,100);//100毫秒滚动到顶
							$('.tdTab span').removeClass('tdActive');
							$(this).addClass('tdActive');
							$('.tdList ul').hide();
							$('.tdList ul').eq(index).show();
						});	
					});
					$('.tdTab span').eq(0).click();		  	
				},				  
		        bindScroll:function(ele,num){
		        	var that=this;
		            ele.on('scroll', function() {
		                var scrollHeight = $(this)[0].scrollHeight;
		                var scrollTop = $(this)[0].scrollTop;
		                var nDivHight = $(this).height();
                        var tipHtml="<span id=\"loadTips\"><a></a></span>";
		                if (pageflag[num] == true && scrollTop + nDivHight > scrollHeight - 30) {
		                    pageflag[num] = false;
		                    ele.append(tipHtml).show();
		                    setTimeout(function(){
                                $('#loadTips').remove();
                                if(num==0){
                                    that.loadAll();
								}
								if(num==1){
                                    that.loadIng();
								}
                                if(num==2){
                                    that.loadOff();
                                }
					            pageflag[num] = true;
		                    },1000)		                    
		                }
		            });
		        },

			  },
			  watch: {
			  	
			  },
			})
            app.bindScroll($('#tdul_1'),0);
            app.bindScroll($('#tdul_2'),1);
            app.bindScroll($('#tdul_3'),2);
            app.bindEle();
            app.loadAll();
            app.loadIng();
            app.loadOff();

		</script>
</html>