<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>聊天</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../static/css/mui.min.css">
    <link rel="stylesheet" href="../../static/css/public.css">
    <link rel="stylesheet" href="../../static/fonts/iconfont.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/css/deliver.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <style type="text/css">
        .mui-scroll-wrapper{
            margin-top: 45px;
            padding-bottom:50px;
        }
        .mui-media-body h2{
            line-height:.6rem;
            width:5rem;
        }
        .barTxt{
            padding-bottom:9px
         }
        /* 头像 */
        .mui-table-view .mui-media-object.mui-pull-left {
            border-radius: 50%;
            margin-top: 4px;
            width:1.2rem;
            height:1.2rem;
        }
        .mui-table-view .mui-table-view-cell>a{
            height:2rem;
        }
        .mui-table-view-cell{
            height:2rem;
        }
        #pushrefresh2 .mui-scroll{
            margin-top:40px;
        }
        #pushrefresh2{
            padding-top:85px;
        }
        #seeLists li:last-child{
            margin-bottom:50px;
        }
        .mui-table-view .mui-table-view-cell .mui-media-body{
            padding-top:.3rem;
        }
    </style>
</head>

<body>
<header class="titleBar">
    <a class="barLeft iconfont mui-action-back"></a>
    <p class="barTab">
        <a class="btActive" data-code="0">聊天</a>
        <a data-code="1">通知</a>
    </p>
    <p class="barRight">
        <a class="br"></a>
    </p>
</header>

<div class="msg_container" style="position:absolute;top:0;width:100%;margin-top:45px;height:40px;display:none">
    <ul class="flex">
        <li><span class="active">公告通知</span></li>
        <li><span>谁看过我</span></li>
        <li><span>消息提示</span></li>
    </ul>
</div>
<!--<div class="mui-scroll-wrapper" id="scroll">
			<div class="mui-scroll">-->
<div id="pullrefresh"  class="mui-scroll-wrapper">
    <div class="mui-scroll">
        <ul class="mui-table-view" id="chatList" >
            <li class="mui-table-view-cell mui-media" v-for="item in chatList">
                <span class="chat_time" v-text="item.addtime"></span>
                <a data-href="chatPersonal.html" :data-chatno="item.chatno">
                    <img class="mui-media-object mui-pull-left"
                    :src="item.avatars.avatars?item.avatars.avatars: '../../static/images/aboutTc.gif'" />
                    <div class="mui-media-body">
                        <h2 v-text="item.realname.realname" ></h2>
                        <p class='mui-ellipsis' v-text="item.message"></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="pushrefresh2" style="width: 100%; height: 100%; float: left; overflow: hidden;">
                <div style="height: 100%">
                    <ul class="mui-table-view" style="height:100%;overflow:auto;" v-show="show==true" id="ntcList" >
                        <li class="mui-table-view-cell mui-media" v-for="item in ntcList">
                            <span class="chat_time" v-text="item.addtime"></span>
                            <a data-href="../wiki/noticeDetail.html" :data-id="item.id">
                                <img class="mui-media-object mui-pull-left" :src="item.avatar? item.avatar: '../../static/images/aboutTc.gif'">
                                <div class="mui-media-body mui-ellipsis">
                                    <h2 class='mui-ellipsis' style="width:5.5rem" v-text="item.title"></h2>
                                    <p class='mui-ellipsis' v-text="item.content"></p>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <ul class="mui-table-view" id="seeLists" style="height:100%;overflow:auto;" v-show="show==true">
                        <li class="mui-table-view-cell mui-media" v-for="item in seeList" >
                            <span class="chat_time" v-text="item.addtime"></span>
                            <a @click="toCompany(item.id)">
                                <img class="mui-media-object mui-pull-left" :src="item.avatars? item.avatar: '../../static/images/aboutTc.gif'">
                                <div class="mui-media-body">
                                    <h2 v-text="item.companyname"></h2>
                                    <p>
                                        <span style="color:#5A5A5A">招聘</span>
                                        <span v-text="item.jobs_name[0].jobs_name"></span>
                                    </p>
                                    <p class='mui-ellipsis'>
                                        <span v-text="item.trade_cn" style="color:#5A5A5A"></span>
                                        <span class="widther" style="color:#5A5A5A">|</span>
                                        <span v-text="item.scale_cn" style="color:#5A5A5A"></span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>


                    <ul class="mui-table-view" id="msgLists" style="height:100%;overflow:auto;" v-show="show==true">
                        <li class="mui-table-view-cell mui-media" v-for="item in msgList" v-show="show=true">
                            <span class="chat_time" v-text="item.addtime"></span>
                            <a data-href="../wiki/artical.html">
                                <img class="mui-media-object mui-pull-left" :src="item.favatar? item.avatar: '../../static/images/aboutTc.gif'">
                                <div class="mui-media-body">
                                    <h2 v-text="item.frealname"></h2>
                                    <p class='mui-ellipsis' v-text="item.message"></p>
                                </div>
                            </a>
                        </li>
                    </ul>

    </div>
</div>
        <!--底部导航-->
<footer class="navBar">
    <ul>
        <li>
            <a data-href="../../index.html" >
                <i class="iconfont">&#xe60e;</i>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a data-href="../discovery/discovery.html">
                <i class="iconfont">&#xe647;</i>
                <p>发现</p>
            </a>
        </li>
        <li>
            <a data-href="#" class="active">
                <i class="iconfont">&#xe60c;</i>
                <p>消息</p>
            </a>
        </li>
        <li>
            <a data-href="../../personal/personalCenter/personalCenter.html">
                <i class="iconfont">&#xe63d;</i>
                <p>我的</p>
            </a>
        </li>
    </ul>
</footer>
<script src="../../static/js/flexible.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/mui.min.js"></script>
<script src="../../static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/fastclick.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/vue.min.js"></script>
<script src="../../static/js/api.js"></script>
<script>
    var url=new GetRequest();
    var pageid=url.id;
    var page=[1,1,1,1];
    var pagesize=10;
    var pageflag=[false,true,true,true];
    mui.init({
        statusBarBackground: '#41a6ff',
        swipeBack:true, //启用右滑关闭功能,
        //下拉加载
        pullRefresh : {
            container:"#pullrefresh",//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
            up : {
                height:50,//可选.默认50.触发上拉加载拖动距离
                auto:false,//可选,默认false.自动上拉加载一次
                contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                contentnomore:'暂无数据',//可选，请求完毕若没有更多数据时显示的提醒内容；
                callback : pullupRefresh
            }
        }
    });

    mui('.mui-scroll-wrapper').scroll({
        scrollY: true, //是否竖向滚动
        scrollX: false, //是否横向滚动
        startX: 0, //初始化时滚动至x
        startY: 0, //初始化时滚动至y
        indicators: true, //是否显示滚动条
        deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
        bounce: true //是否启用回弹
    });


    $('#pushrefresh2').hide();

    var chatListVue=new Vue({
        el:'#chatList',
        data:{
            chatList:[],
            show:true
        },
        methods:{
            loadChatList:function(){
                var that=this;
                var parmas={page:page[0],pagesize:pagesize};
                var chatList=host+'c=notice&a=getChatList';
                ajaxRun(chatList,parmas,true,'POST',function (data) {
                    console.log(data);
                    if(data.statuscode==1){
                        that.chatList=that.chatList.concat(data.result);
                        that.show=true;
                        page[0]++;
                        pageflag[0]=true;
                    }else{
                        mui.toast(data.msg)
                    }
                })
            }
        }
    });
    chatListVue.loadChatList();


        var msgListVue=new Vue({
            el:'#msgLists',
            data:{
                msgList:[],
                show:false
            },
            methods:{
                loadMsgList:function(){
                    var that=this;
                    var showMsg=host + "c=news&a=show_message_list";
                    var params={page:page[1],pagesize:pagesize};
                    ajaxRun(showMsg,params,true,"POST",function(data){
                        console.log(data);
                        if(data.statuscode==1){
                            that.msgList=that.msgList.concat(data.result);
                            that.show=true;
                            page[1]++;
                            pageflag[1]=true;
                        }else{
                            mui.toast(data.msg)
                        }
                    })
                }
            }
        });
        msgListVue.loadMsgList();

        var seeListVue=new Vue({
            el:'#seeLists',
            data:{
                seeList:[],
                show:false
            },
            methods:{
                loadSeeList:function(){
                    var that=this;
                    var seeList=host + "c=personal&a=getSeeList";
                    var params={page:page[2],pagesize:pagesize};
                    ajaxRun(seeList,params,true,"POST",function(data){
                        console.log(data);
                        if(data.statuscode==1){
                            that.seeList=that.seeList.concat(data.result);
                            if(data.result.length<pagesize){

                            }
                            that.show=true;
                            page[2]++;
                            pageflag[2]=true;
                        }else{
                            mui.toast(data.msg)
                        }
                    })
                }
            }
        });
        seeListVue.loadSeeList();

        var ntcListVue=new Vue({
            el:'#ntcList',
            data:{
                ntcList:[],
                show:false
            },
            methods:{
                loadNtcList:function(){
                    var that=this;
                    var showNtc=host + "c=news&a=show_notice_list";
                    var params={page:page[3],pagesize:pagesize};
                    ajaxRun(showNtc,params,true,"POST",function(data){
                        console.log(data);
                        if(data.statuscode==1){
                            that.ntcList=that.ntcList.concat(data.result);
                            that.show=true;
                            page[3]++;
                            pageflag[3]=true;
                        }else{
                            mui.toast(data.msg)
                        }
                    })
                }
            }
        });
        ntcListVue.loadNtcList();

        function bindScroll(ele,num){
            ele.on('scroll', function() {
                var scrollHeight = $(this)[0].scrollHeight;
                var scrollTop = $(this)[0].scrollTop;
                var nDivHight = $(this).height();
                var tipHtml="<span id=\"loadTips\"><a></a></span>";
                if (pageflag[num] == true && scrollTop + nDivHight > scrollHeight - 30) {
                    pageflag[num] = false;
                    ele.append(tipHtml).show();
                    setTimeout(function(){
                        if(num==0){
                            msgListVue.loadMsgList();
                            $('#loadTips').hide();
                        }else if(num==1){
                            //msgListVue.loadMsgList();
                            seeListVue.loadSeeList();
                            $('#loadTips').hide();
                        }else{
                            //seeListVue.loadSeeList();
                            ntcListVue.loadNtcList();
                            $('#loadTips').hide();
                        }
                    },500)
                }
            });
        }

        bindScroll($('#msgLists'),0);
        bindScroll($('#seeLists'),1);
        bindScroll($('#ntcList'),2);

        $('.msg_container span').click(function(event){
            event.preventDefault();
            var index= $('.msg_container span').index($(this));
            $(this).parent().siblings().children().removeClass('active');
            $(this).addClass('active');

            if(index==0){
                ntcListVue._data.show=true;
            }else if(index==1){
                ntcListVue._data.show=false;
                seeListVue._data.show=true;
            }else{
                ntcListVue._data.show=false;
                seeListVue._data.show=false;
                msgListVue._data.show=true;
            }

        });


    $.each($('.barTab a'),function (index) {
        $('.barTab a').eq(index).click(function () {
            $('.barTab a').removeClass('btActive');
            $(this).addClass('btActive');
            //if(utype==1){
                //location.href='../../company/recruit/jobMsg.html?id='+pageid
           // }else{
                console.log($(this))
                var code=$(this).attr('data-code');
                console.log(code)
                if(code==0){
                    $('.msg_container').hide();
                    $('#pushrefresh2').hide();
                    $('#pullrefresh').show();
                }else{
                    $('.msg_container').show()//.css('z-index','101');
                    $('#pullrefresh').hide();
                    $('#pushrefresh2').show();
                    //ntcListVue._data.show=true;
                }
           // }
        });
    });

    //返回上一步
    $(function(){
        $('.titleBar .barLeft').click(function(){
            // history.back() 或 history.go(-1)
            history.go(-1);
        })
    });

    //跳转到聊天对话页面
    $('#chatList').on('tap','a',function(){
        var href=$(this).attr('data-href');
        var chatno=$(this).attr('data-chatno');
        location.href=href+'?chatno='+chatno;
    })


    //
    function toCompany(data){
        var href="../../personal/jobDetail/companyInfo.html";
        location.href=href+'?res_id='+data;
    }

    //notice 跳转
    $('#ntcList').on('tap','a',function(){
        var href=$(this).attr('data-href');
        var id=$(this).attr('data-id');
        location.href=href+'?id='+id;
    })

    mui('.navBar').on('tap','a',function(){
        var url=$(this).attr('data-href');
        location.href=url;
    });
    //下拉加载
    function pullupRefresh() {
        setTimeout(function () {
            mui('#pullrefresh').pullRefresh().endPullupToRefresh((pageflag[0])); //参数为true代表没有更多数据了。
            loadMore();
        }, 1500);
    };
    function loadMore() {
        var length=chatListVue._data.chatList.length;
        console.log(length);
        if(length<pagesize){
            pageflag[0]=true;
        }else{
            var chatList=host+'c=notice&a=getChatList';
            page[0]++;
            var argument = {page:page[0],pagesize:pagesize};
            ajaxRun(chatList, argument, true, 'GET', function (data) {
                console.log(data)
                if(data.statuscode==1){
                    if(data.result.length<pagesize|| data.result==[] || data.result==null){
                        pageflag[0]=true;
                    }
                    chatListVue._data.chatList=chatListVue._data.chatList.concat(data.result);
                }else{
                    mui.toast(data.msg,{ duration:1000});
                }
                page[0]++;
            });
        }
    };
</script>
</body>

</html>